@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="footer">
        <div class="element_footer">
            <div class="element_1">
                <h4>Hỗ trợ khách hàng</h4>
                <p>Phone: <a href="tell:0336848237">0336848237</a></p>
                <p>Email: <a href="truongcaolop3@gmail.com">truongcaolop3@gmail.com</a></p>
                <p>Gửi yêu cầu hỗ trợ</p>
                <p>Hướng dẫn đặt hàng</p>
                <p>Phương thức vận chuyển</p>
                <p>Chính sách đổi trả</p>
                <p>Hướng dẫn trả góp</p>
                <p>Chính sách hàng nhập khẩu</p>
                <p>Hỗ trợ khách hàng: hotro@tiki.vn</p>
                <p>Báo lỗi bảo mật: security@tiki.vn</p>
            </div>

            <div class="element_1">
                <h4>Về Pepper</h4>
                <p>Giới thiệu Pepper</p>
                <p>Tiki Blog</p>
                <p>Tuyển dụng</p>
                <p>Chính sách bảo mật thông tin cá nhân</p>
                <p>Chính sách giải quyết khiếu nại</p>
                <p>Điều khoản sử dụng</p>
            </div>
            <div class="element_1">
                <h4>Hợp tác và liên kết</h4>
                <p>Quy chế hoạt động Sàn GDTMĐT</p>
                <p>Bán hàng cùng Pepper</p>
            </div>
            <div class="element_1">
                <h4>Phương thức thanh toán</h4>
                <img src="./img/payment.png" alt="">
                <h4>Dịch vụ giao hàng</h4>
                <img src="./img/tikinow.png" alt="">
            </div>
        </div>
    </div>